<div align="left">
<%= link_to "Add New Lorry Details",new_lorry_path, class:"btn btn-primary btn-block" %>
<table class="table table-bordered table-striped">
<thead>
<tr>
<th>Lorry ID</th>
<th>Lorry No</th>
<th>Made In</th>
<th>Manufacturer Date</th>
<th>Operations </th>
</tr>
</thead>
<tbody>
<% @lorries.each do |lorry| %>
<tr>
<th><%= lorry.id %></th>
<td><%= lorry.Lorry_no %></td>
<td><%= lorry.made_in %></td>
<td><%= lorry.date_of_manufacturer %></td>

<td><div class:"btn-group">
<%= link_to"Edit", edit_lorry_path(lorry.id), class:"btn btn-warning btn-xs"%>
<%= link_to"Show", lorry_path(lorry.id), class:"btn btn-info btn-xs"%>
<%= link_to"delete", lorry_path(lorry.id),method: :delete , data: {confirm: "Are You Sure Want to delete?"} ,class:"btn btn-danger btn-xs"%>
</div></td>
</tr>
<% end %>
</tbody>
</table>
</div>