

<h5> <b>Outlet Id</b> </h5>
<h6><%= @outlet.id %></b></h6>

<h5> <b>Outlet Name</b> </h5>
<h6><%= @outlet.outlet_Name %></b></h6>
<h5><b>Location of outlet</b></h5>
<h6><%= @outlet.location %>
<h5><b>Manager ID </b></h5>
<h6><%= @outlet.manager_id %>
<br />
<%= link_to "Back", outlets_path%>
