<h5>Driver Id</h5>
<h6><%= @driver.id %></b></h6>
<h5> <b>Driver Name</b> </h5>
<h6><%= @driver.name %></b></h6>
<h5><b>Contac: No</b></h5>
<h6><%= @driver.contact_no %>
<h5><b>Salary </b></h5>
<h6><%= @driver.salary %>
<h5><b>Address</b></h5>
<h6><%= @driver.address %></h6>
<%= link_to "Back", drivers_path%>
